# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# IDE folders
node_modules/
dist/

# IDE
.idea
.vscode

# env files
.env

# Cashe
.npm
.eslintcache
.stylelintcache
.yarn-cache

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
.fuse_hidden*
.directory
.Trash-*

# Other
*.log
*.sql
