@use '@style/color' as *;
@use '@style/mixin' as *;

.textarea {
  @include input-style {
    width: 100%;
    display: block;
    line-height: 1.2;
    resize: none;
  }

  &__label {
    display: block;
  }
}
