@use '../../../style/color';
@use '../../../style/mixin';

.textarea {
  @include mixin.input-style() {
    width: 100%;
    display: block;
    line-height: 1.2;
    resize: none;
  };

  &__label {
    display: block;
  }
}
