@use '../../../style/_color.scss';

.icon {
  transition: transform 0.4s ease, opacity 0.3s;
  user-select: none;
  fill: color.$night;

  &--loader {
    transform-origin: center;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
