@use 'sass:math';
@use '../../style/color';
@use '../../style/variable' as *;
@use '../../style/mixin';

.card-list {
  @include mixin.card-list-bg-style() {
    width: 100%;
    height: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }

  &__title {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__description {
    line-height: 1;
    color: color.$darkGray;
  }

  &__header {
    margin: 0 0 0.35em;
  }

  &__scroll-box {
    flex: 1 0;
    padding: 0 $card-list-offset;
    margin: 0 #{-$card-list-offset};
  }

  &__wrapper {
    min-height: calc(100% - #{$drop-line-size * 6});
    margin: #{$drop-line-size * 3} 0;
    box-sizing: border-box;

    .card {
      margin-bottom: $card-list-offset;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--drop {
      &:after {
        content: '';
        top: -$card-list-offset;
        left: -$card-list-offset;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: $card-border-radius;
        background-color: color.$translucent;
        background: color.$pattern;
        opacity: 0.6;
      }
    }
  }

  &__loader {
    @include mixin.card-bg-style() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
