@use '@style/color' as *;

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade-out($darkness, 0.2);
  position: fixed;
  z-index: 100;

  &__container {
    position: relative;
  }

  &__form {
    background-color: $white;
    display: block;
    padding: 0.75em 0.8em;
    border-radius: 0.2em;
  }

  &__color-picker {
    bottom: 100%;
    position: absolute;
    margin-bottom: 0.35em;
  }

  &__size-picker {
    top: 100%;
    position: absolute;
    margin-top: 0.35em;
  }

  &__save-button {
    top: 100%;
    right: 1em;
    position: absolute;
    margin-top: 0.75em;
  }

  &__close-button {
    bottom: 100%;
    right: 1em;
    position: absolute;
    margin-bottom: 0.7em;

    .icon {
      fill: $white;
      opacity: 0.45;
    }
  }
}
