$darkness: #000;
$dark: #202020;
$black: #282828;
$darkGray: #4b4b4b;
$dimGray: #808080;
$gray: #879295;
$silver: #dbdbdb;
$light: #ebedf3;
$white: #fff;

$translucent: fade-out($dark, 0.9);

// Colors for cards
$green: #7bc86c;
$yellow: #f5dd29;
$orange: #ffaf3f;
$red: #ef7564;
$purple: #cd8de5;
$blue: #5ba4cf;
$aqua: #29cce5;
$lime: #6deca9;
$pink: #ff8ed4;
$night: #172b4d;

// Lists
$color-list: (
  'red': $red,
  'blue': $blue,
  'aqua': $aqua,
  'lime': $lime,
  'pink': $pink,
  'green': $green,
  'night': $night,
  'orange': $orange,
  'yellow': $yellow,
  'purple': $purple,
);

$color-list-for-text: (
  'red': $darkness,
  'blue': $dark,
  'aqua': $dark,
  'lime': $dark,
  'pink': $dark,
  'green': $dark,
  'night': $white,
  'orange': $dark,
  'yellow': $dark,
  'purple': $dark,
);

// Button, link & text
$primary: #0079bf;
$placeholder: $darkGray;

// Font
$font: #202020;

// Background
$primary_bg: $white;
$secondary_bg: transparent;
$tertiary_bg: #f8f8f8;

$scrollbar_bg: fade-out($silver, 0.4);
$scrollbar_thumb: fade-out($gray, 0.4);

// Pattern
$pattern: repeating-linear-gradient(
  45deg,
  fade-out($dark, 0.1),
  fade-out($dark, 0.1) 2px,
  $tertiary_bg 2px,
  $tertiary_bg 10px
);
