@use 'color';
@use 'variable' as *;

@import-normalize;

html,
body {
  height: 100%;
  background-color: color.$dark;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: color.$tertiary_bg;
  color: color.$font;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-x: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &--horizontal {
    display: flex;

    .list__item {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
