@use '@style/color' as *;
@use '@style/mixin' as *;

.input {
  @include input-style {
    width: 100%;
    display: block;
    line-height: 1.25;
  }

  &__label {
    display: block;
    margin-bottom: 0.5em;
  }
}
