@use 'sass:math';
@use '../../style/color';
@use '../../style/variable' as *;

.scroll-box {
  transition: scrollbar-color 0.3s ease-out;
  scrollbar-color: color.$scrollbar_thumb color.$scrollbar_bg;
  scrollbar-width: thin;
  position: relative;
  direction: ltr;
  overflow-y: auto;

  $border-radius: math.div($scrollbar-size, 2);

  &:hover {
    scrollbar-color: lighten(color.$scrollbar_thumb, 10%);
  }

  &::-webkit-scrollbar {
    width: $scrollbar-size;
  }

  &::-webkit-scrollbar-track {
    background-color: color.$scrollbar_bg;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: color.$scrollbar_thumb;
  }

  &--horizontal {
    &::-webkit-scrollbar {
      width: auto;
      height: $scrollbar-size;
    }
  }
}
