@use '../../style/color';
@use '../../style/mixin';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mixin.header-bg-style();

  &__create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed color.$night;
    padding: 0 1em;
  }
}
