@use '../../style/_color.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: color.$header;
  box-shadow: 0 10px 30px 0 fade-out(color.$black, 0.9);
  border-top: 1px solid color.$light;
  box-sizing: border-box;
  padding: 0.75em 2em 1em;
  margin: 0;

  &__create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed color.$night;
    user-select: none;
    padding: 0 1em;
  }
}
